.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
/* header */
.app-header {
    display: flex;
    padding: 6px 130px;
    justify-content: space-between;
    align-items: center;
}

.app-header-menu-icon {
    display: none;
}

.app-logo {
    display: flex;
    align-items: center;
}

.app-logo-img {
    width: 38px;
    height: 38px;
    margin-right: 14px;
}

.app-header-logo-site {
    color: #FA793C;
    font-size: 18px;
    font-weight: 400;
}

.app-header-right {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.app-header-nav-link {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}

.app-header-nav-ul {
    display: flex;
    column-gap: 32px;
}
/* section 1 */
.app-section1 {
    background-image: url(../images/cover.png);
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    padding: 0 130px;
    background-position:center;

}

.app-section1-header {
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    margin-bottom: 20px;
}

.app-section1-text {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
/* section 2 */
.app-section2 {
    margin: 130px;
}

.app-section-header {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 35px;
}

.app-section2-cards {
    display: flex;
    column-gap: 22px;
}

.app-section2-card {
    border: 1px solid #000;
}

.app-section2-img {
    width: 100%;
}

.app-section2-card-header {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 16px 0 8px 16px;
}

.app-section2-card-text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 16px 16px 16px;

}

/* section 3 */
.app-section3 {
    margin: 0 130px 130px 130px;
}

.app-section3-img-container {
    width: 780px;
    height: 400px;
}

.app-section3-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app-section3-photos {
    display: flex;
    column-gap: 20px;
}

.app-section3-small-photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
}

.app-section3-small-img-container {
    height: 190px;
    width: 100%;
}

.app-section3-small-img {
    width: 100%;
    height: 100%;
}

/* footer */
footer {
    display: flex;
    height: 100px;
    padding: 31px 0px;
    justify-content: center;
    align-items: center;
    background: #000;
}

.app-footer-logo-site {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}